<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />

        <link rel="stylesheet" href="/static/content/font-awesome-4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" type="text/css" href="/static/content/ShallowBlueStyles.css">

        <script src="/static/scripts/jquery-1.10.2.min.js"></script>

        <script src="/static/scripts/modernizr-2.6.2.js"></script>

        <script src="/static/scripts/ShallowBlue.js"></script>

        <meta charset="utf-8" />

        <title>{{pageTitle}}</title>

    </head>

    <body>

        <div class="container-fluid">

            <header class="jumbotron" style="background-color:aqua; margin-top:0px; border: 3px ridge black; border-radius:8px">

                <h1 style="text-align:center">SHALLOW BLUE - {{pageTitle.upper()}}</h1>

            </header>

            {% block body %}{% endblock %}


        </div>

    </body>

</html>