<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
</head>
<body>
    <aside style="float:left; width:15%">
        <ul style="border:2px solid black; list-style-type:none; margin:0; padding:0">
            <li style="border:1px solid black; display:block">test</li>
            <li style="border:1px solid black; display:block">test</li>
            <li style="border:1px solid black; display:block">test</li>
            <li style="border:1px solid black; display:block">test</li>
            <li style="border:1px solid black; display:block">test</li>
        </ul>
    </aside>
    {% block body %}{% endblock %}
</body>
</html>