<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/content/ShallowBlueStyles.css">

    <meta charset="utf-8" />

    <title>{{pageTitle}}</title>

</head>

<body>

    <header class="jumbotron" style="background-color:aqua; margin:5px; border: 3px ridge black; border-radius:8px">

        <h1 style="text-align:center">SHALLOW BLUE - {{pageTitle.upper()}}</h1>

        <div style="text-align:left">{% block header %}{% endblock %}</div>

    </header>

     <aside style="float:left; width:15%; margin:5px; margin-top:0">

        <ul class="navBar_ul">

            <li class="title">Shallow Blue<br />Navigaion</li>
            <li><a class="{% if url == url_for('Main_Page') %}active{% endif %}" href="{{url_for('Main_Page')}}">Main Page</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
            <li><a href="">Link 4</a></li>
            <li><a href="">Link 5</a></li>

        </ul>

    </aside>

    <aside style="float:right; width:15%; margin:5px; margin-top:0">

        <ul class="scoreBar_ul">

            <li class="title">Shallow Blue<br />Navigaion</li>
            <li><a href="{{url_for('Main_Page')}}">Main Page</a></li>
            <li><a href="">Link 2</a></li>
            <li><a href="">Link 3</a></li>
            <li><a href="">Link 4</a></li>
            <li><a href="">Link 5</a></li>

        </ul>

    </aside>
    
    <section>
        {% block body %}{% endblock %}
    </section>

</body>

</html>