{% extends "AdminPagesTemplate.html" %}

{% block body %}

<div class="row" style="margin-right: 0; margin-left: 0">

    <div class="col-sm-3"></div>

    <div class="col-sm-3" style="text-align: center">

        {% if loggedIn == False %}
                    
            <a class="btn btn-default" href="{{url_for("LoginPage")}}" aria-label="Login Icon">

                <i class="fa fa-sign-in" style="font-size: 12em;" aria-hidden="true"></i><br />

            </a><br />

            <p class="splashScreenIconCaption">Login</p>

            {% else %}
                        
                <a class="btn btn-default" href="{{url_for("LogoutPage")}}" aria-label="Logout Icon">

                    <i class="fa fa-sign-out" style="font-size: 12em;" aria-hidden="true"></i><br />

                </a><br />

            <p class="splashScreenIconCaption">Logout</p>

            {% endif %}

    </div>

    <div class="col-sm-3" style="text-align: center">

        <a class="btn btn-default" href="{{url_for("AccountPage")}}" aria-label="Account Page Icon">

            <i class="fa fa-sign-out" style="font-size: 12em;" aria-hidden="true"></i><br />

        </a><br />

        <p class="splashScreenIconCaption">My Account</p>

    </div>

    <div class="col-sm-3"></div>

</div>

<div class="row" style="margin-right: 0; margin-left: 0">

    <div class="col-sm-3"></div>

    <div class="col-sm-3" style="text-align: center">
                
        <a class="btn btn-default" href="{{url_for("Spectate")}}" aria-label="Spectator Page Icon">

            <i class="fa fa-binoculars" style="font-size: 12em;" aria-hidden="true"></i><br />

        </a><br />

        <p class="splashScreenIconCaption">Spectate An Event</p>

    </div>

    <div class="col-sm-3" style="text-align: center">

        <a class="btn btn-default" href="{{url_for("EventsPage")}}" aria-label="Events Page Icon">

            <i class="fa fa-calendar" style="font-size: 12em;" aria-hidden="true"></i><br />

        </a><br />

        <p class="splashScreenIconCaption">Events</p>

    </div>

    <div class="col-sm-3"></div>

</div>

{% endblock %}