/*Nav Bar*/
.navBar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    border: 2px solid black;
    border-radius: 8px
}

.navBar_ul li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}

.navBar_ul li {
text-align: center;
border-bottom: 1px solid #555;
}

    .navBar_ul li.title {
        background-color: royalblue;
    }

.navBar_ul li:last-child {
    border-bottom: none;
}

.navBar_ul li a.active {
    background-color: #4CAF50;
    color: white;
}

.navBar_ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}